.header_main {
  color: white;
  background-color: black;
}

.header_top {
  color: white;
  display: flex;
  justify-content: space-around;
}

.header_slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.header_search_input {
  width: 75vw;
  padding: 15px;
}