/* .localStore_main {
  display: grid;
  grid-template-columns:repeat(12,1fr);
  grid-template-rows: repeat(3, 1fr);
} */



/* .localStore_card {
  grid-column: 2fr;
  border-radius: 8px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
} */

/* .localStore_card_1 .despoImg {
  background-image: url('../../public/img/header-img.png');
  display: inline-block;
  height: 200px;
} */

/* .localStore_card_2 {
  grid-column: 5/7;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.localStore_card_3 {
  grid-column: 8/10;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
} */

.localStore_deals{
  grid-row: 3/3;
  grid-column: 1/12;
}


