@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-color: white;
    --brand-green: #00984A;
    --brand-navy: #20448D;
    --brand-blue: #409ED8;
    --brand-pink: #F49AC1;
    --brand-red: #EF4136;
    --dark-bg: #1D1D1D;
    --text: #1D1D1D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: regular;
    line-height: 28px;
    color: var(--text);
}

